@charset "UTF-8";

/* ユーザー指定ヘッダー画像
--------------- */
.header-user-image {
  display: block;
  max-width: 1500px;
  max-height: 500px;
  width: 100%;
  height: 20rem;
}

/* メインコンテンツ
--------------- */
#main-content {
  background-color: #e6ecf0;
  height: 100%;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.main-left-content {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  margin-top: 10px;
  margin-right: 10px;
}

.main-left-content-handle-name {
  margin-top: 40px;
  margin-bottom: -5px;
  height: 3rem;
}

.main-left-content-handle-name a {
  color: #555;
  font-size: 2rem;
}

.main-left-content-handle-name a:hover {
  border-bottom: 2px #555 solid;
}

.main-left-content-user-name {
  display: block;
  color: #555;
}

.main-center-content {
  display: flex;
  flex-grow: 1.3;
  flex-direction: column;
  background: white;
  height: 100%;
  width: 20rem;
  margin-top: 10px;
}

.main-center-content-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px rgba(204, 204, 204, 0.6) solid;
  padding-left: 20px;
  height: 40px;
  width: 100%;
}

.main-center-content-nav a {
  margin-right: 20px;
  font-size: 1.15rem;
  color: #8cd08c;
  font-weight: bold;
}

.main-center-content-nav a:hover {
  text-decoration: underline;
  color: lightgreen;
}

.main-right-content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  background: white;
}

.main-center-content-tweet-wrapper {
  display: flex;
  position: relative;
  padding: 8px 0;
  border-bottom: 1px rgba(204, 204, 204, 0.6) solid;
}

.tweet-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tweet-user-icon {
  padding: 5px;
  width: 60px;
  height: 60px;
}

.tweet-user-icon img {
  display: flex;
  justify-content: center;
}

.tweet-head-wrapper {
  display: flex;
  justify-content: space-between;
  height: 2vh;
}

.tweet-user-info {
  display: flex;
  align-items: center;
  line-height: 1;
}

.tweet-menu {
  padding: 0 5px 0 0;
}

.tweet-handlename {
  font-size: 1rem;
  color: black;
  padding-right: 10px;
}

.tweet-username {
  padding-right: 5px;
  color: grey;
}

.tweet-time {
  color: grey;
}

.tweet-action-list {
  display: flex;
  margin-top: 10px;
}

.tweet-action-list button{
  padding-right: 50px;
}

/* ツイートアクション ホバー設定 */
.action-tweet:hover{
  color: skyblue;
}
.action-retweet:hover{
  color: lightgreen;
}
.action-like:hover{
  color: red;
}
