<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="kamanon" />
  <!--/* デフォルトCSSのリセット */-->
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <!--/* loginFormのスタイル設定 */-->
  <link rel="stylesheet" th:href="@{/css/login/loginForm.css}" />
  <!--/* Webフォント読み込み */-->
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  <!--/* アイコン(font-awesome)読み込み */-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <!--/* ファビコンの設定 */-->
  <link rel="icon" type="image/ping" th:href="@{/image/header/bird_aoitori_bluebird.png}">
  <!--/* js読み込み */-->
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
  <!--/* viewportの設定 */-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--/* タイトル設定 */-->
  <title>TwitterCloneByKamanonにログイン</title>
</head>

<body>
  <!--*/ ヘッダー */-->
  <header>
    <div class="page-header-container">
      <div class="page-header wrapper">
        <img class="bird-icon header-user-icon" th:src="@{/image/user/coffee.png}" th:alt="ヘッダーツイートアイコン">
      </div>
    </div>
  </header>

  <!-- ログインフォーム -->
  <main id="login-form">
    <div class="main-content-wrapper wrapper">
      <div class="login-form-wrapper">
        <h2>TwitterCloneByKamanonにログイン</h2>
        <form th:action="@{/login}" method="POST">
          <input type="text" name="userName" placeholder="ユーザー名">
          <input type="text" name="password" placeholder="パスワード">
          <button type="submit" name="button"></button>
        </form>
      </div>

    </div>
  </main>

</body>

</html>
