<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/* ページヘッダー. */-->

<head th:fragment="page_head(pageTitle, links)">
	<meta charset="UTF-8">
	<meta name="author" content="kamanon" />
	<!--/* デフォルトCSSのリセット */-->
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
	<!--/* Webフォント読み込み */-->
	<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
	<!--/* アイコン(font-awesome)読み込み */-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
	<!--/* ヘッダー使用のスタイル設定 */-->
	<link rel="stylesheet" th:href="@{/css/common/_layout.css}" />
	<!--/* viewportの設定 */-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--/* 画面固有のスタイル設定 */-->
	<th:block th:replace="${links}" />

	<!--/* タイトル設定 */-->
	<title th:text="${pageTitle}">Template title</title>
</head>

<body>
	<!--*/ ヘッダー */-->
	<header th:fragment="page_header" th:remove="tag">
		<div class="page-header wrapper">
			<nav>
				<ul class="header-left-nav">
					<li><span class="fa fa-home"></span>ホーム</li>
					<li><span class="fa fa-bell"></span>通知</li>
					<li><span class="fa fa-envelope"></span>メッセージ</li>
			</nav>
			<img class="bird-icon header-center-logo" th:src="@{/image/header/bird_aoitori_bluebird.png}" th:alt="ヘッダーアプリアイコン">
			<nav>
				<form id="header-form" action="index.html" method="post">
					<ul class="header-right-nav">
						<li class="search-key">
							<input type="text" name="search-key" maxlength="50" placeholder="キーワード検索">
							<button id="header-search-button" type="submit"><span class="fa fa-search"></span></button>
						</li>
						<li>
							<img class="header-user-icon" th:src="@{/image/user/coffee.png}" th:alt="ヘッダーユーザーアイコン">
						</li>
						<li class="header-nav-tweet-box">
							<a class="btn header-nav-tweet" href="#">ツイート</a>
						</li>
					</ul>
				</form>
			</nav>
		</div>
	</header>








	<!--*/ ユーザーページヘッダ画像 /*-->
	<div class="user_header_image">

	</div>

</body>

</html>
