<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common/_layout :: page_head(${userInfo.usr.userName} + 'さんのページ', ~{::link})">
	<link rel="stylesheet" th:href="@{/css/user_info/show.css}" />
</head>

<body>
	<!-- ページヘッダー -->
	<header th:replace="common/_layout :: page_header"></header>
	<!-- ユーザー指定ヘッダー画像 -->
	<img class="header-user-image" th:src="@{/image/user/header_image1.jpg}" th:alt="ユーザーヘッダーイメージ">
	<!-- メインナビバー -->
	<div th:replace="common/_layout :: main-nav-bar-fragment"></div>
	<!-- main -->
	<main class="main-content">
		<div class="main-content-wrapper wrapper">
			<div class="main-left-content" th:with="isEmpty=${userInfo.usr.handleName}">
				<h2 class="main-left-content-handle-name"><a th:text="isEmpty ? ${userInfo.usr.userName} : ${userInfo.usr.handleName}" th:href="@{#}"></a></h2>
				<a class="main-left-content-user-name" th:text="${userInfo.usr.userName}" th:href="@{#}"></a>
			</div>
			<div class="main-center-content">
				Center
			</div>
			<div class="main-right-content">
				right
			</div>
		</div>
	</main>


</body>

</html>
