<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/_layout :: page_head(${userInfo.usr.userName} + 'さんのページ', ~{::link})">
	<link rel="stylesheet" th:href="@{/css/user_info/show.css}" />
</head>

<body>
	<!-- ページヘッダー -->
	<header th:replace="common/_layout :: page_header"></header>
	<!-- ユーザー指定ヘッダー画像 -->
	<img class="header-user-image" th:src="@{/image/user/header_image1.jpg}" th:alt="ユーザーヘッダーイメージ">
	<!-- メインナビバー -->
	<div th:replace="common/_layout :: main-nav-bar-fragment"></div>
	<!-- main -->
	<main id="main-content">
		<div class="main-content-wrapper wrapper">
			<div class="main-left-content" th:with="isEmpty=${userInfo.usr.handleName}">
				<h2 class="main-left-content-handle-name"><a th:text="isEmpty ? ${userInfo.usr.userName} : ${userInfo.usr.handleName}" th:href="@{#}"></a></h2>
				<a class="main-left-content-user-name" th:text="'@' + ${userInfo.usr.userName}" th:href="@{#}"></a>
			</div>
			<div class="main-center-content">
				<nav class="main-center-content-nav">
					<a href="#">ツイート</a>
					<a href="#">ツイートと返信</a>
					<a href="#">メディア</a>
				</nav>
				<!-- TweetリストLoop -->
				<th:block th:each="tweet_list : ${userInfo.tweetList}" th:remove="tag">
					<div class="main-center-content-tweet-wrapper">
						<div class="tweet-user-icon">
							<img class="icon" th:src="@{/image/user/coffee.png}" th:alt="ツイートユーザーアイコン">
						</div>
						<div class="tweet-wrapper">
							<div class="tweet-head-wrapper">
								<div class="tweet-user-info">
									<!-- <p th:text="">aaa</p> -->
									<p>aaa</p>
									<p>aaa</p>
									<p>aaa</p>
								</div>
								<div class="tweet-menu">
									<span class="fa fa-chevron-down"></span>
								</div>
							</div>
							<div class="tweet-text" th:text="${tweet_list.tweet}">XXXXXXXXXXXXXXXXXXXX</div>
							<div class="tweet-action-list">
								<p>ddd</p>
								<p>ddd</p>
								<p>ddd</p>
							</div>
						</div>
					</div>
				</th:block>
			</div>
			<div class="main-right-content">
				right
			</div>
		</div>
	</main>

	<!--/* 画面固有 スクリプト設定 */-->
	<div th:replace="common/_layout :: load-scripts(~{})" th:remove="tag">

	</div>
</body>

</html>
